$nav-padding: 20vw;
$nav-height: 60px;
$text-width: 670px;
$content-width: 780px;

$seal-size: 40px;

$bg-c: #fffefc;
$main-c: #242424;
$text-c: #242424;
$accent-c: #be2e2e;
$hover-c: #7a352c;

$heading-f: 'Playfair Display', serif;
$text-f: 'Vollkorn', serif;