body {
	font-family: 'PT Sans';
	text-align: center;
	background: url('/images/background/paper.png')
}
.link-wrapper {
	width: 30vw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 20px;
}
h2 {
	font-family: 'Merriweather:900';
	font-size: 3em;
	color: #900a0a;
	margin-bottom: 20px;
}
h4 {
	font-size: 1.5em;
	margin: 0px;
}
hr {
	width: 50%;
	height: 3px;
	background: #aa9020;
}
ol {
	list-style: none;
	padding: 0px;
	margin: 5px;
}
li {
	margin-bottom: 5px;
}
li a {
	font-size: 1.2em;
	text-decoration: none;
	color: #303030;
}
li a:hover {
	color: #5090ff;
}
li a:before,
li a:after {
	content: "♦";
	margin: 0px 3px;
}
