---
---
/*
  #CONTENTS
  1. Settings
  2. Body
  3. Nav
  4. Content
  5. Galleries
  6. Media Queries
*/
/*
  #SETTINGS
*/
$nav-padding: 20vw;
$nav-height: 60px;
$text-width: 610px;
$content-width: 720px;

$bg-c: #fffefc;
$main-c: #242424;
$text-c: #242424;
$accent-c: #be2e2e;
$hover-c: #7a352c;

$heading-f: 'Cinzel', serif;
$text-f: 'Crimson Text', serif;

/*
  #BODY
*/
* {
  box-sizing: border-box;
}

body {
  background-color: $bg-c;
  color: $text-c;
  font-size: 1.3em;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  font-family: $text-f;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: $bg-c;
}
body::-webkit-scrollbar-thumb {
  background-color: $main-c;
}

.chinese{
  font-family: "FangSong", "仿宋", STFangSong, "华文仿宋", serif;
}

a {
  color: $accent-c;
  text-decoration: none;
  &:hover {
    color: $hover-c;
  }
  img {
    max-width: 100%;
  }
}

.right-align{
  float: right;
}

.bulleted-list {
  list-style-type: disc;
  padding-left: 15px;
}

#seal {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 40px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}


/*
  #NAV
*/
header {
  position:fixed;
  z-index: 99;
  top: 0;

  width: 100vw;

  background: $bg-c;
  font-size: 1.5em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $content-width;
  height: $nav-height;
  padding: 0 10px;
  margin: 0 auto;
  border-bottom: 1.5px solid $main-c;
  box-shadow: 0 3px 3px -3px $main-c;

  #nav-logo-img img {
    position: relative;
    top: 5px;
    height: 40px;
  }

  #nav-logo-text{
    display: none;
  }

  a {
    color: $text-c;
    &:hover {
      color: $accent-c;
    }
  }

  p{
    margin: 0;
  }

  ul {
    font-size: .6em;
    margin: 0;
    li {
      display: inline-block;
      margin-left: 20px;
    }
  }
}

#copyright {
  position: absolute;
  bottom: 80px;
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: left;

  &#social li{
    display: inline-block;
    margin-right: 5px;
    img {
      width: 24px;
    }
  }

}

/*
  #CONTENT
*/

main {
  max-width: $text-width;
  padding: 0 20px;
  margin: 80px auto 100px;
}

main.full, main.portfolio {
  max-width: $content-width;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-f;
}

p, .text-list li {
  max-width: $text-width;
}

.text-list li {
  font-size: .9em;
}

code {
  padding: 5px;
  border: 1px solid $text-c;
}


/*
  #GALLERIES
*/

#galleries {
  display: flex;
  flex-flow: row wrap;
  padding: 0;

  li {
    position:relative;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    height: 125px;
    overflow: hidden;
    &:hover {
      color: $accent-c;
    }

    img {
      width: 100%;
    }
  }

  span {
    position: absolute;
    z-index: 98;

    top: 5px;
    left: 0;
    padding: 0 3px;

    text-align:right;
    background: $bg-c;

  }
}

.Gallery{
  display: flex;
  flex-flow: row wrap;
  li {
    max-width: 250px;
    &:hover{
      cursor: pointer;
    }
  }
  &[data-columns]::before {
	  content: '3 .column.size-1of3';
  }
  .column { float: left; }
  .size-1of3 {
    width: 32%;
    margin: 0 .5%;
  }
  .size-1of2 {
    width: 48%;
    margin: 1%;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  p {
    display: none;
  }
}

.StickerList {
  justify-content: space-between;
  li {
    width: 150px;
    height: 180px;
    position: relative;
    text-align: center;
    margin: 5px;
  }
  p {
    display: block;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: -5px;
  }
}

.StickerImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 150px;
}

/*
  #MEDIA QUERIES
*/

@media (min-width: 600px) {
  #nav-logo-img{
    display: none;
  }
  #nav-logo-text{
    display: block !important;
  }
  #seal{
    display: block !important;
    background: $bg-c;
  }

  #galleries li {
    width: 29.5%;
    height: 29.5%;
  }
}

@media (min-width: $content-width) {
  #galleries li{
    // margin: 10px 13px 0;
  }

}
