---
---
/*
  #CONTENTS
  1. Settings
  2. Body
  3. Nav
  4. Content
  5. Galleries
*/
/*
  #SETTINGS
*/
$nav-padding: 28vw;
$nav-height: 50px;
$text-width: 650px;
$content-pad: 32vw;

$bg-c: #fffffe;
$main-c: #242424;
$text-c: #242424;
$accent-c: #be2e2e;

$heading-f: 'Cinzel', serif;
$text-f: 'Crimson Text', serif;

/*
  #BODY
*/
* {
  box-sizing: border-box;
}

body {
  background-color: $bg-c;
  color: $text-c;
  font-size: 1.2em;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  font-family: $text-f;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: $bg-c;
}
body::-webkit-scrollbar-thumb {
  background-color: $main-c;
}

.chinese{
  font-family: "FangSong", "仿宋", STFangSong, "华文仿宋", serif;
  font-size: 20px;
}

a {
  color: $accent-c;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.right-align{
  float: right;
}

.bulleted-list {
  list-style-type: disc;
  padding-left: 15px;
}

#seal {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 40px;
}

/*
  #NAV
*/
nav {
  position: fixed;
  z-index: 99;
  background: $bg-c;
  top: 0;
  width: 100vw;
  height: $nav-height;
  border-bottom: 1.5px solid $main-c;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding: 10px $nav-padding;

  #left-nav{
    display: flex;
    flex-flow: row;
  }

  img {
    height: calc(#{$nav-height} - 20px);
  }
  a {
    color: $text-c;
  }

  p{
    margin: 0;
  }

  ul {
    margin: 0;
    display: flex;
    justify-content: center;
    li {
      margin-left: 20px;
    }
  }
}

#copyright {
  position: absolute;
  bottom: 80px;
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: left;

  &#social{
    position: absolute;
    bottom: 0;
    li{
      display: inline-block;
      margin-right: 5px;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }

}

/*
  #CONTENT
*/

.content {
  padding: 40px $content-pad;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-f;
}

p {
  max-width: $text-width;
}

/*
  #GALLERIES
*/

#galleries {
  display: flex;
  flex-flow: row wrap;
  img {
    border: 1px solid $main-c;
  }
  li {
    width: 150px;
    height: 200px;
    // border: 1px solid $main-c;
    margin: 5px;
    padding: 20px 0;
    text-align: center;
  }
}

#gallery-container{
  display: flex;
  flex-flow: row wrap;
  li {
    max-width: 300px;
  }
}
