*{
	box-sizing:border-box;
}

body{
	margin:0;
	height:100%;	
	background: #262c31 url("../images/main/bgtile.png") repeat fixed;
	font-family: 'PT Sans Narrow';
	color: #ffffff;
	text-align:center;
	letter-spacing:1px;
}

/* Background images */
#backgroundimage{
	background-color:#262c31;
	z-index:-1;
	width:100%;
	position:fixed;
	overflow:hidden;
}

#backgroundimage img{
	width:100%;	
	opacity:0.65;
}

/* Lefthand navigation bar */

#leftbar{
	position:fixed;
	top:25%; 
	bottom:20%;
	z-index:1;
	padding:0;
	width:16%;
	background: #2f373e;
	border-top-right-radius: 5%;	
	border-bottom-right-radius: 5%;
}

/* Navigation bars on bottom left side! */
/* Change navbar::before color to edit highlight color! */

#navbar{
	list-style-type:none;
}
#navbar a{
	color:#ffffff;
	font-size: 150%;
	font-size: 1.5vw;
	text-align:center;
	letter-spacing:1px;
	padding:.7%;
	position:fixed;
	left:0;
	width:16%;
	margin:0;
	height:6%;
	text-decoration:none;
	transition: height 1s;
}
#navbar a:hover{ height: 8%; }
#navbar a::before{
	display:block;
  content:" ";
  position:absolute;
  z-index:-1;
  background: #8a79a5; 
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:0;
}
#navbar a:hover::before{ opacity:1; }

#nav1 { bottom:48%; background: #235459;}
#nav2 { bottom:42%; background: #306862;}
#nav3 { bottom:36%; background: #44966d;}
#nav4 { bottom:30%;  background: #64ae73;}
#nav5 { bottom:24%;   background: #95ba7f;}

#copyright{
	position:fixed;
	bottom:0;
	left:0;
	background: #2f373e;
	border-top-right-radius:5%;
	width:16%;
	z-index:10;
}

/* name & profile picture */


#profile{
	display:block;
	background: #2f373e;	
	border-top-right-radius: 5%;
	z-index:2;
	top: 10%;
	padding:0px 20px 0px 10px;
	position:fixed;
	text-align:center;
	color:#ffffff;
	font-size:200%;
	font-size:2vw;
	letter-spacing:2px;
	width:12%;
	height:15%;
}

#profile img{
	max-width:100%;
	height:auto;
}

/* running sprites */
#runningsprite{
	top:38%;
	left:1%;
	position:fixed;
	max-width:100%;
	max-height:100%;
	z-index:6;
}

#runningbg{
	max-width:100%;	
	max-height:100%;
	margin-top:40%;
	opacity:.5;
}

/* scrollable right area! */

.rightscreen{
	<!--background: #85d0d0;
	z-index:3;
	margin-left:16%;
	width:84%;
	min-width:50%;
	padding:2%;
	height:20000px;
}

.rightscreen p{
	background: rgba(255,255,255,.5);
	padding:10px;
	border-radius:5px;
}
