---
---

$h-c: #333;
$bg-c: #fff;
$text-c: #333;

//
@font-face{
  font-family: Aleo;
  src: url({{site.baseurl}}/assets/fonts/)
}

*{
  box-sizing: border-box;
}

body {
  background: $bg-c;
  color: $text-c;
  padding: 20px 0 100px;
  font-family: "Crimson Text";
  line-height: 1.4;
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $h-c;
  font-family: "Cinzel";
}

a{
  text-decoration: none;
  color: $h-c;
}

article {
  width: 750px;
  margin: auto;
}

nav {
  position: fixed;
  left: 10px;
  top: 10vh;
  font-size: 15px;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      color: #aaa;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
