---
layout: default
title: Lester Lee
---

<article id="Welcome" data-color="yellow">
  <h1 class="Title">Hi! I'm Lester</h1>
  <ul class="Description"></ul>
  <div class="Drawings">
    <img
      class="Speech"
      src="{{site.baseurl}}/assets/img/portraits/yellow-bubble.png"
    />
    <img
      class="Eyes"
      src="{{site.baseurl}}/assets/img/portraits/yellow-eyes.png"
    />
    <img
      class="Portrait"
      src="{{site.baseurl}}/assets/img/portraits/yellow.png"
    />
  </div>
</article>

<article id="TeachCS" data-color="black">
  <h2 class="Title">I teach cs</h2>
  <section class="Description">
    <p>
      I teach computer science at a high school in NYC. My
      materials are publicly available and can be accessed
      <a href="https://edu.lester-lee.com">here</a>. I'm always happy to chat
      about education!
    </p>
  </section>
  <div class="Drawings">
    <img
      class="Speech"
      src="{{site.baseurl}}/assets/img/portraits/black-bubble.png"
    />
    <img
      class="Eyes"
      src="{{site.baseurl}}/assets/img/portraits/black-eyes.png"
    />
    <img
      class="Portrait"
      src="{{site.baseurl}}/assets/img/portraits/black.png"
    />
  </div>
</article>

<article id="Art" data-color="white">
  <h2 class="Title">I like art</h2>
  <section class="Description">
    <ul>
      {% for artwork in site.data.artwork %}
      <li>
        <img
          src="https://res.cloudinary.com/llee/image/upload/c_scale,q_100,w_500/{{artwork.url}}"
          alt="{{artwork.name}} - {{artwork.desc}}"
          title="{{artwork.name}} - {{artwork.desc}}"
        />
      </li>
      {% endfor %}
    </ul>
    <p>
      You can see more of my artwork on
      <a href="https://www.instagram.com/lesterlee_art">instagram</a>.
    </p>
  </section>
  <div class="Drawings">
    <img
      class="Speech"
      src="{{site.baseurl}}/assets/img/portraits/white-bubble.png"
    />
    <img
      class="Eyes"
      src="{{site.baseurl}}/assets/img/portraits/white-eyes.png"
    />
    <img
      class="Portrait"
      src="{{site.baseurl}}/assets/img/portraits/white.png"
    />
  </div>
</article>

<article id="Projects" data-color="blue">
  <h2 class="Title">I make stuff</h2>
  <section class="Description">
    <ul>
      {% for project in site.data.projects %}
      <li>
        <a href="{{project.url}}">
          <img
            src="{{site.baseurl}}/assets/works/{{project.img}}"
            alt="{{project.name}} - {{project.desc}}"
            title="{{project.name}} - {{project.desc}}"
          />
        </a>
      </li>
      {% endfor %}
    </ul>
    <p>
      Click a thumbnail for more info! You can see more of my projects on
      <a href="https://www.github.com/lester-lee">github</a>.
    </p>
  </section>
  <div class="Drawings">
    <img
      class="Speech"
      src="{{site.baseurl}}/assets/img/portraits/blue-bubble.png"
    />
    <img
      class="Eyes"
      src="{{site.baseurl}}/assets/img/portraits/blue-eyes.png"
    />
    <img
      class="Portrait"
      src="{{site.baseurl}}/assets/img/portraits/blue.png"
    />
  </div>
</article>

<article id="Contact" data-color="red">
  <h2 class="Title">Get in touch :)</h2>
  <section class="Description">
    Email me at
    <a href="mailto:contact@lester-lee.com">contact@lester-lee.com</a>!
  </section>
  <div class="Drawings">
    <img
      class="Speech"
      src="{{site.baseurl}}/assets/img/portraits/red-bubble.png"
    />
    <img
      class="Eyes"
      src="{{site.baseurl}}/assets/img/portraits/red-eyes.png"
    />
    <img class="Portrait" src="{{site.baseurl}}/assets/img/portraits/red.png" />
  </div>
</article>
