/*#region Index Articles */
main {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: both mandatory;
  overflow: auto;
}

h1,
h2 {
  z-index: 3;
}

article {
  height: 100vh;

  scroll-snap-align: start;

  display: flex;
  align-items: center;

  position: relative;
}

.Title {
  width: 50vw;
  height: 20vh;
  position: absolute;
  left: 8vw;
  top: 27vh;
  text-align: center;
  font-size: 3em;
}

/*#endregion Index Articles */

/*#region Drawings */
.Drawings {
  display: flex;
  align-items: center;
}

.Portrait {
  max-width: 50vw;
  max-height: 75vh;
  position: absolute;
  right: 10vw;
  z-index: 1;
}

.Speech {
  max-width: 60vw;
  max-height: 75vh;
  position: absolute;
  right: 35vw;
  z-index: 1;
}

/*#endregion Drawings */

/*#region Individual Articles */
@mixin centerInParent() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin frame($bgColor, $frameColor) {
  background: $frameColor;
  &::after {
    @include centerInParent();
    content: "";
    background: $bgColor;
    width: 70vw;
    height: 60vh;
    z-index: 0;
  }
}

#Welcome {
  background: $black;
  color: $yellow;
}

#TeachCS {
  @include frame($blue, $white);
}

#Art {
  @include frame($red, $black);
  color: $white;
}

#Projects {
  @include frame($white, $yellow);
  color: $blue;
}

#Contact {
  color: $red;
}
/*#endregion Individual Articles */
