/*#region Index Articles */
main {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: both proximity;
  overflow: auto;
}

h1,
h2 {
  z-index: 3;
}

article {
  height: 100vh;

  scroll-snap-align: start;

  display: flex;
  align-items: center;

  position: relative;
}

.Title {
  width: 50vw;
  height: 20vh;
  position: absolute;
  left: 8vw;
  top: 32vh;
  text-align: center;
  font-size: 3em;
}

/*#endregion Index Articles */

/*#region Article Descriptions */
.Description {
  width: 50vw;

  position: absolute;
  left: 8vw;
  top: 55vh;
  z-index: 2;

  padding: 0.5rem;

  ul {
    display: flex;
    flex-flow: row nowrap;

    li {
      flex: 1;
      margin-right: 0.5rem;
    }
  }
}

/*#endregion Article Descriptions */

/*#region Drawings */
.Drawings {
  display: flex;
  align-items: center;
}

.Portrait {
  max-width: 50vw;
  max-height: 75vh;
  position: absolute;
  right: 10vw;
  z-index: 1;
}

.Speech {
  max-width: 60vw;
  max-height: 75vh;
  position: absolute;
  right: 35vw;
  z-index: 1;
}

.Eyes {
  position: absolute;
  top: 25vh;
  right: 23vw;
  z-index: 1;
}
/*#endregion Drawings */
