/*#region Index Articles */
main {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: both proximity;
  overflow: auto;
}

h1,
h2 {
  z-index: 3;
}

article {
  height: 100vh;

  scroll-snap-align: start;

  display: flex;
  align-items: center;

  position: relative;
}

/*#endregion Index Articles */

/*#region Article Descriptions */
.Description {
  width: 50vw;

  position: absolute;
  left: 8vw;
  top: 50vh;
  z-index: 2;

  padding: 0.5rem;

  ul {
    display: flex;
    flex-flow: row nowrap;

    li {
      flex: 1;
      margin-right: 0.5rem;
    }
  }
}

/*#endregion Article Descriptions */

/*#region Drawings */
.Drawings {
  display: flex;
  align-items: center;
}

.Portrait {
  width: 25%;
  position: absolute;
  top: 18%;
  right: 10%;
  z-index: 1;
}

.Eyes {
  position: absolute;
  width: 12%;
  top: 25%;
  right: 22%;
  z-index: 1;
}

.Speech {
  width: 60%;
  height: 25%;
  position: absolute;
  right: 35%;
  top: 23%;
  z-index: 1;
}

.Title {
  @extend .Speech;
  width: 50%;
  right: 42%;
  padding-top: 3vh;
  text-align: center;
  font-size: 3em;
  z-index: 2;
}

/*#endregion Drawings */
