nav {
  width: 100vw;

  position: fixed;
  bottom: 0;
  padding-right: 5vw;
  padding-bottom: 5vh;

  display: flex;
  flex-flow: row;
  justify-content: end;

  img {
    width: 24px;
  }

  .NavItem {
    color: $yellow;
    transition: color 0.5s;
    text-decoration: none;
    font-size: 1.2rem;

    &:hover span {
      text-decoration: underline;
    }

    // Join links with ◆
    &:not(:last-child)::after {
      content: "◆";
      margin: 0 1vw;
      font-style: normal;
    }

    // Box around text on hover / active
    span {
      border: 1px solid #0000;
      padding: 0.2em;
    }
  }
}
