/*#region Colors */
$black: #2b2b2b;
$blue: #416eae;
$red: #aa5151;
$white: #f2ece3;
$yellow: #ffd502;
/*#endregion Colors */

/*#region Fonts */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
$title-font: 'Readex Pro', sans-serif;
/*#endregion Fonts */