<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="{{site.baseurl}}/css/portfolio.css">
	<link rel="icon" href="{{site.baseurl}}/assets/logo.png">
	<link href='https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text' rel='stylesheet' type='text/css'>
	<title>Lester Lee</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="{{site.baseurl}}/js/jquery-3.3.1.min.js"></script>
</head>

<body>

	{% include nav.html %}

	<div class="content">
		{{ content }}
	</div>

</body>

</html>
