<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
	<link rel="icon" href="{{site.baseurl}}/assets/logo.png">

	<link href='https://fonts.googleapis.com/css?family=Vollkorn|Playfair+Display' rel='stylesheet' type='text/css'>

	<script async src="{{site.baseurl}}/js/jquery-3.3.1.min.js"></script>

</head>

<body>

	{% include nav.html %}

	<main id="main-content" class="{{ page.class }}">
		{{ content }}
	</main>

	<footer id="seal">
		<a href="/"><img src="{{ site.baseurl }}/assets/logo_red.png" alt="Lester Lee logo"></a>
	</footer>

</body>

</html>
